

<div class="col-md-6 col-md-offset-3">
<!--
	<%= image_tag("emoji 1", alt: "emoji", class: "logo") %>
-->



	<div class="text-center tagline" >
		<h1>the boba robot</h1>
	</div> 
	
</div>


<!--
<%= image_tag("boba pile.png", alt: "boba pile", class: "boba_pile") %>
-->