

<div>



	<div class="text-center tagline" id="tagline" >
		<h1>the boba robot</h1>
		<h3> more info coming soon! </h3>
	</div> 
	
</div>


<!--
<%= image_tag("boba pile.png", alt: "boba pile", class: "boba_pile") %>
-->