

<div class="col-md-4 col-md-offset-4">
	<%= image_tag("mythic_logo_3.png", alt: "Mythic Logo", class: "logo") %>



	<div class="text-center tagline" >
		<h3>the golden age of digital cinema</h3>
	</div> 
	
</div>