

<div class="col-md-12">
	<%= image_tag("mythic_logo.jpg", alt: "Mythic Logo", class: "logo") %>


<!-- 
	<div class="text-center">
		<h3>Stay tuned, there's more stuff coming soon!</h3>
	</div> 
-->
	
</div>