/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



$navbar-default-color: 			#6bc5ea;
$navbar-default-link-color: 	#6bc5ea;
$navbar-default-link-hover-color: #6bc5ea;


$navbar-default-bg: 			white;

$navbar-default-brand-color: 	#05bebe;

$navbar-height:		60px;
$navbar-border-radius: 0px;
$navbar-default-border: transparent;


$body-bg: 	white;

$font-family-sans-serif: 	'Champagne & Limousines', 'Helvetica Neue', Helvetica, Arial, sans-serif;



@font-face {
	font-family: "Champagne & Limousines";
	src: url(/assets/fonts/"Champagne & Limousines.otf") format("truetype");
	font-family: "Bobbleboddy";
	src: url(/assets/fonts/"Bobbleboddy.ttf") format("truetype");
}

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

#logo {
	height: 60px;
	margin-top: -20px;
	margin-left: 20px;
}

#about {
	height: 25px;
	margin-top: -3px;
}

a {
	font-weight: bold;
	font-size: 1.4em;
}

.about_link {
	margin-right: 40px;
}

.headline {
	margin-top: 15%;
	font-weight: bold;
	color: #fe9015;
	font-size: 6em;
}

.info {
	position: absolute;
	width: 100%;
	margin-left: -15px;
}

.bold {
	font-weight: bold;
}

.blue {
	color: #6bc5ea;
}

html{
	/* This image will be displayed fullscreen */
	background-image: url('boba pile bottom left.png'), url('boba pile bottom right.png');

	background-repeat: no-repeat, no-repeat;

	background-attachment:fixed;
	background-position: bottom left, bottom right;
	background-size: 35%;
}

body{
	/* Workaround for some mobile browsers */
	min-height:100%;
}


/*
html{
	
	background:url('boba pile emoji.png') no-repeat center center;


	min-height:80%;


	background-size: cover;

	background-attachment:fixed;
	background-position:center bottom;
}

body{

	min-height:100%;
}

*/


/*
colors

yellow: #fadd3b
blue: #6bc5ea
orange: #fe9015
teal: #60c5ba
red: #f42434




*/

